:root {
  --color-font: #292929;
  --color-gold: #d0ac1f;
  --color-gold: #E0C046;
  --color-silver: #c2c2c2;
  --color-green: #066916;
  --color-green: #32804D;
  --color-green: #007853;
  --color-brown: #502E21;
  --color-blue: #1F4A89;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-font);
  padding-top: 45px;
  font-family: 'Open Sans', sans-serif;
}

.gold {
  color: var(--color-gold);
}

.silver {
  color: var(--color-silver);
}

#main-nav {
  background-color: rgba(255, 255, 255, .9);
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar-brand {
  color: var(--color-gold) !important;
  text-transform: uppercase;
  font-size: 24px;
}

.nav-link {
  text-transform: uppercase;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color-green);
}

.navbar-inverse .nav-link:hover {
  color: red;
}

.fa-bars {
  color: var(--color-gold); red;
}

header .image-container {
  height: 100vw;
  max-height: 600px;
  background-image: url(https://source.unsplash.com/random/1200x600);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title  {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  letter-spacing: 2px;
  color: var(--color-silver);
}

.fa-instagram,
.fa-facebook-square {
  color: var(--color-font);
}

.fa-instagram:hover,
.fa-facebook-square:hover {
  color: var(--color-green);
}

.envelope-1, 
.fa-images,
.link-skontaktuj {
  color: var(--color-blue);
}

.envelope-1:hover, 
.fa-images:hover,
.link-skontaktuj:hover {
  color: var(--color-green);
}

h2 {
  color: var(--color-silver);
}

.h4 {
  color: var(--color-silver);
  text-transform: uppercase;
}

#sesje h3 {
  color: var(--color-gold);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#sesje .lead {
  color: var(--color-gold);
  text-transform: uppercase;
}

.jacek-img-container {

}

.card-cena {
  border: 1px solid var(--color-gold);
}

.card-cena .card-title {
  color: var(--color-gold);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.card-city-price {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.card-city-price .h2 {
  color: var(--color-gold);
}

.fa-check {
  color: var(--color-green);
}

.fa-plus {
  color: var(--color-brown);
}

footer {
  border-top: 1px solid var(--color-gold);
  background-color: var(--color-gold);
  color: white;
}


footer .gold {
  text-transform: uppercase;
}