:root {
  --color-font: #292929;
  --color-gold: #E6C337;
  --color-gold: #d0ac1f;
  --color-silver: #c2c2c2;
  --color-green: #066916;
  --color-green: #32804D;
  --color-green: #007853;
  --color-brown: #502E21;
  --color-blue: #1F4A89;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-font);
}

.gold {
  color: var(--color-gold);
}

.silver {
  color: var(--color-silver);
}

#main-nav {
  background-color: rgba(255, 255, 255, .9);
}

.envelope-1, 
.fa-images,
.link-skontaktuj,
.link-skontaktuj:hover {
  color: var(--color-blue);
}

.navbar-brand,
.nav-link {
  color: var(--color-gold);
  text-transform: uppercase;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color-blue);
}

.fa-bars {
  color: var(--color-gold); red;
}

.header {
  position: relative;
}

.title  {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: var(--color-silver);
}

h2 {
  color: var(--color-silver);
}

.h5 {
  color: var(--color-silver);
  text-transform: uppercase;
}

#sesje h3 {
  color: var(--color-gold);
  text-transform: uppercase;
}

#sesje .lead {
  color: var(--color-gold);
  text-transform: uppercase;
}

.card-cena {
  border: 1px solid var(--color-gold);
}

.card-cena .card-title {
  color: var(--color-gold);
}

.fa-check {
  color: var(--color-green);
}

.fa-plus {
  color: var(--color-brown);
}

footer {
  border-top: 1px solid var(--color-gold);
  background-color: var(--color-gold);
  color: white;
}


footer .gold {
  text-transform: uppercase;
}