:root {
  --color-font: #292929;
  --color-gold: #E0C046;
  --color-silver: #c2c2c2;
  --color-green: #32804D;
  --color-brown: #502E21;
  --color-blue: #1F4A89;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-font);
  padding-top: 45px;
  font-family: 'Open Sans', sans-serif;
}

.gold {
  color: var(--color-gold);
}

.silver {
  color: var(--color-silver);
}

#main-nav {
  background-color: rgba(255, 255, 255, .95);
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-transition: top .5s;
  transition: top .3s;
}

.navbar-brand {
  color: var(--color-gold) !important;
  text-transform: uppercase;
  font-size: 24px;
}

.nav-link {
  text-transform: uppercase;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color-green);
}

.fa-bars {
  color: var(--color-gold);
}

header .image-container {
  width: 100%;
  max-height: 650px;
  overflow: hidden;
  position: relative;
}

.logo-header {
  position: absolute;
  bottom: 15px;
  right: 30px;
  height: 30%;
  opacity: .8;
}

.fa-instagram,
.fa-facebook-square {
  color: var(--color-font);
}

.fa-instagram:hover,
.fa-facebook-square:hover {
  color: var(--color-green);
}

.fa-images {
  font-size: 24px;
}

.envelope-1, 
.fa-images,
.link-skontaktuj {
  color: var(--color-blue);
}

.envelope-1:hover, 
.fa-images:hover,
.link-skontaktuj:hover {
  color: var(--color-green);
}

h2 {
  color: var(--color-silver);
}

.h5 {
  color: var(--color-silver);
  text-transform: uppercase;
}

#sesje h3 {
  color: var(--color-gold);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#sesje .lead {
  color: var(--color-gold);
  text-transform: uppercase;
}

.jacek-img-container {

}

#galeria img {
  width: 140px;
  height: auto;
}

.card-cena {
  border: 1px solid var(--color-gold);
}

.card-cena .card-title {
  color: var(--color-gold);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.card-city-price {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.card-city-price .h2 {
  color: var(--color-gold);
}

.fa-check {
  color: var(--color-green);
}

.fa-plus {
  color: var(--color-brown);
}


input[type="date"]::before {
	color: #636c72;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #636c72;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}


footer {
  border-top: 1px solid var(--color-gold);
  color: var(--color-gold);
}


@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {

}

@media only screen and (max-width: 354px) {
  
  #galeria img {
    width: 115px;
  }
}

@media only screen and (max-width: 340px) {

  .card-city-price h4,
  .card-city-price p {
    font-size: 16px;
  }
}


/* Error 404 500 pages */
body.body-404 {
  padding-top: 0;
}

.error-container {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
}

.error-img {
  max-height: 300px;
  max-width: calc(100% - 48px);
  min-height: 80px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.error-error {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  color: #1F4A89;
  margin: -24px 0 12px;
}

.error-error span {
  display: inline-block;
  line-height: 1;
  color: #fff;
  background-color: #1F4A89;
  padding: 4px 8px;
  border-radius: 5px;
}

.error-text {
  line-height: 1.2;
  padding: 24px;
  margin-bottom: 12px;
}

.error-heading {
  font-size: 24px;
  margin-bottom: 12px;
}

.error-para {
  font-size: 16px;
}

.error-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-font);
  padding: 4px 12px;
  border: 3px solid #1F4A89;
  border-radius: 13px;
  transition: all .2s;
}

.error-link:hover {
  cursor: pointer;
  color: #1F4A89;
}

.error-link:active {
  color: #32804D;
  border: 3px solid #32804D;
}

.error-contactLink {
  font-size: 16px;
  text-decoration: none;
  color: #1F4A89;
  margin-top: 8px;
}

.error-contactLink:hover {
  text-decoration: underline;
}

.error-contactLink:active {
  color: #32804D;
}

@media only screen and (min-width: 601px) {
  .error-error {
    font-size: 54px;
    margin: -24px 0 40px 0;
  }

  .error-heading {
    font-size: 32px;
  }

  .error-para {
    font-size: 20px;
  }

  .error-link {
    font-size: 20px;
    padding: 4px 16px;
  }
}